<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 定义参数：
	${basedir}：系统路径
	${shortdate}：短日期 yyyy-MM-dd(例:2013-01-31)
	${basedir}/Logs/${shortdate}：即为在系统路径下的Logs文件夹下面的日期文件夹-->
  <variable name="logDirectory" value="${basedir}/Logs/${shortdate}"/>
  <targets>
    <!-- 定义输出模板：
		type="File"：这个记录方式为文件类型
		fileName="${logDirectory}/All.log"：表示输出到文件All.log中
		layout="..."：输出文件中错误的显示格式
		${logDirectory}：为上述定义的路径
		${longdate}：输出长日期 yyyy-MM-dd HH:mm:ss.ffff(例:2013-01-31 14:49:21.2120)
		${level}：错误等级(由低到高为Trace，Debug，Info，Warn，Error，Fatal)
		${newline}：输出 新的一行
		${stacktrace}：输出 堆栈信息
		${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}：输出 命名空间.类名.方法名(文件路径:行号)
		${message}：输出错误信息-->

    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="AllFile" fileName="${logDirectory}/All.log" archiveAboveSize="10240000" concurrentWrites="true" maxArchiveFiles="1" archiveNumbering="Sequence"
         layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ${message}${newline}${newline}***************************************************************************" />
    </target>

    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="UI" fileName="${logDirectory}/UI.log" archiveAboveSize="10240000" concurrentWrites="true" maxArchiveFiles="1" archiveNumbering="Sequence"
        layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ${message}${newline}${newline}***************************************************************************" />
    </target>

    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="BLL" fileName="${logDirectory}/BLL.log" archiveAboveSize="10240000" concurrentWrites="true" maxArchiveFiles="1" archiveNumbering="Sequence"
        layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ${message}${newline}${newline}***************************************************************************" />
    </target>
    
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="DAL" fileName="${logDirectory}/DAL.log" archiveAboveSize="10240000" concurrentWrites="true" maxArchiveFiles="1" archiveNumbering="Sequence"
          layout="${longdate}        ■${level}${newline}    ▲${stacktrace}${newline}    ◇${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True}${newline}    ${message}${newline}${newline}***************************************************************************" />
    </target>

      <!--<target name="console" xsi:type="Console"
layout="${level:uppercase=true}: ${message} | ${exception:format=tostring}"
/>-->
      
    
 
  </targets>
  
  <rules>
    <!-- 定义输出日志：
		name="*"：记录所有信息
		minlevel="Trace"：记录的最低错误级别为Trace
		writeTo="AllFile"：日志写入AllFile的target中-->
    <logger name="*" minlevel="Trace" writeTo="AllFile" />
    <!-- 定义输出日志：
		name="*.UI.*"：记录包含.UI.的命名空间的所有信息(第一个*最好替换为固定的，例如我的UI层命名空间为J.UI那么这里就可以写J.UI.*)-->
    <logger name="*.UI.*" minlevel="Trace" writeTo="UI" />
    <logger name="*.BLL.*" minlevel="Trace" writeTo="BLL" />
    <logger name="*.DAL.*" minlevel="Trace" writeTo="DAL" />
    <!-- 控制台查看日志 --><!--
    <logger name="Topshelf.*" minlevel="Info" writeTo="console" />--> 
  </rules>
</nlog>